/*320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  box-sizing: border-box;
  font-family: Lato;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  background-color: #e5e5e5;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="-container"] {
  max-width: 1900px;
  margin: 0px auto;
  /* padding: 0px 15px; */
  background-color: #ffffff;
}

/*//////////////// full-service-agency section ////////////////////////*/
/* .title {
  display: inline-block;
} */

h3 {
  font-size: 39px;
  font-weight: 700;
}

.colored-text {
  color: rgba(254, 200, 61, 1);
}

h4 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}

h5 {
  /* display: block; */
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
}

.full-service-agency-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1900px;
  height: 1815px;
  padding: 162.5px 165px 58px 171px;
}

.full-service-agency-columns {
  display: flex;
  height: 772px;
  padding: 98.5px 4px 104.5px 14px;
}

.full-service-agency-statistics {
  display: flex;
  flex-direction: column;
  width: 699px;

  /* height: 772px; */
}

.full-service-agency-statistics h5 {
  max-width: 643px;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.2px;
}

.bold-text {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding-top: 69px;
}

.full-service-agency-statistics img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.full-service-agency-globe {
  width: 714px;
}

.full-service-agency-globe img {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 27.5px;
  padding-left: 109px;
}

.full-service-agency-bench {
  background-color: rgba(239, 239, 241, 1);
}

.full-service-agency-bench-image {
  background-position: bottom left;
  background-image: url("images/fullServiceAgency-images/bench.jpg");
  /* background-size: 100%; */
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 1564px;
  height: 442px;
}

.full-service-agency img,
.full-service-agency-bench img,
.full-service-agency-globe img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.full-service-agency-bench-subscribe {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  max-height: 422px;
  padding-top: 136.5px;
  padding-bottom: 135px;
}
.full-service-agency-bench-subscribeBtn {
  display: flex;
  align-items: center;
  max-width: 450px;
}

.bench-subscribeBtn img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
/*//////////////// Footer ////////////////////////*/

.logo-block img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.footer-subscribe {
  font-size: 1.25rem;
  padding-top: 8.8rem;
  font-weight: bold;
}

ul {
  color: rgba(200, 75, 4, 1);
}

.li-title {
  color: rgba(200, 75, 4, 1);
  font-weight: bold;
}

li {
  list-style: none;
  padding-bottom: 1.25rem;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.email-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 18rem;
  height: auto;
  padding-top: 1.87rem;
  border-bottom: 0.06rem solid rgb(207, 213, 220);
}

.email-submit-btn a img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.btn-socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.back-to-top-btn a img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.socialMedia {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 18.63rem;
}
.socialMedia img {
  padding-left: 2.5rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* flex: 0 1 25%; */
  height: 28.63%;
  /* padding: 60px 177px 120px 185px; */
  padding: 3.2% 9.3% 6.3% 9.7%;
  /* padding: 3.75rem 11.06rem 7.5rem 11.56rem; */
  /* gap: 13.31rem; */
  gap: 11%;
  /* gap: 123px; */
}

/*/////////// 320px PORTRAIT /////////////////////////*/
@media (max-width: 688px) and (orientation: portrait) {
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 0.93% 2.77% 1.88% 2.89%;
    gap: 2.5%;
  }

  .services-block {
    display: flex;
    order: 1;
  }

  .about-block {
    display: flex;
    order: 2;
  }

  .logo-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 3;
  }

  .footer-logo {
    width: 50%;
    height: auto;
    max-width: 50%;
    order: 3;
    padding-top: 0.5rem;
  }

  .all-rights {
    order: 4;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }

  .footer-subscribe {
    order: 1;
    padding-top: 1rem;
    font-size: 1rem;
  }

  .email-btn {
    padding-top: 0.47rem;
    order: 2;
  }

  li {
    padding-bottom: 0.31rem;
  }

  .btn-socialMedia {
    display: flex;
    flex-direction: row-reverse;
    order: 9;
  }

  .socialMedia {
    padding-top: 1.5rem;
  }

  .socialMedia img {
    padding-left: 0.63rem;
  }
}

/*/////////// 320px LANDSCAPE /////////////////////////*/
@media (max-height: 688px) and (orientation: landscape) {
  .footer-container {
    padding: 0.93% 2.77% 1.88% 2.89%;
    gap: 2.5%;
  }

  .footer-logo {
    width: 70%;
    height: auto;
    max-width: 70%;
    padding-top: 0.5rem;
  }

  .all-rights {
    font-size: 0.8rem;
  }

  .footer-subscribe {
    padding-top: 1rem;
    font-size: 1rem;
  }

  .email-btn {
    padding-top: 0.47rem;
  }

  li {
    padding-bottom: 0.2rem;
  }

  .socialMedia {
    padding-top: 1.5rem;
  }

  .socialMedia img {
    padding-left: 0.63rem;
  }
}

/* Small screens */
@media (min-width: 767px) {
  .footer-container {
    padding: 2.56% 4.76% 5.04% 4.97%;
    gap: 9%;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer-container {
    padding: 2.56% 5.63% 5.04% 5.63%;
    gap: 10%;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .footer-container {
    padding: 2.56% 7.44% 5.04% 7.76%;
    gap: 11%;
  }
}
