/*320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV*/

/*/////////// 769px-1024px PORTRAIT /////////////////////////*/
@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  [class*="-container"] {
    max-width: 64rem;
  }

  /* Header*/
  .header-container {
    background-size: cover;
  }

  .socialMedia-header {
    justify-content: flex-end;
    padding: 0.8rem 0.8rem;
    gap: 0.8rem;
  }

  .logo-burgerMenu {
    padding: 0.5rem;
    gap: 1.6rem;
  }

  .logo,
  img.burgerMenu {
    width: 50%;
    height: auto;
    max-width: 50%;
    padding-right: 0rem;
  }

  h1 {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }

  h4.subtitle {
    font-size: 1rem;
    line-height: 1rem;
  }

  h1,
  h4.subtitle {
    padding: 0.8rem;
    padding-bottom: 0.5rem;
  }
  /*  what we offer  */

  h2.title {
    font-size: 1.2rem;
    text-align: center;
  }

  .what-we-offer-container h2 {
    padding-top: 1rem;
  }

  .what-we-offer-block {
    display: flex;
    justify-content: space-around;
    max-height: 72rem;
    padding: 1rem;
  }

  #whatWeOffer {
    max-width: 48rem;
    padding-top: 2rem;
  }

  .whatWeOffer-block {
    width: 23rem;
    height: 13rem;
    margin-bottom: 1.18rem;
    background: #ffffff;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
    border-radius: 1.81rem;
  }

  .whatWeOffer-block-image {
    width: 50%;
    max-width: 100%;
    height: auto;
    background-size: contain;
  }

  .whatWeOffer-block-info {
    max-width: 10rem;
    height: auto;
  }

  h3 {
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-align: left;
  }

  p {
    font-size: 0.9rem;
    text-align: justify;
    line-height: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .whatWeOffer-btn {
    height: 3rem;
    width: 10rem;
    padding: 0.5rem;
  }

  .whatWeOffer-btn img {
    width: 20%;
    height: auto;
  }

  /*  full service agency  */

  h4 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }

  h5 {
    font-size: 1.1rem;
    text-align: justify;
  }

  .full-service-agency-container {
    max-width: 48rem;
    padding: 0rem;
  }

  .full-service-agency-statistics {
    width: 20rem;
  }

  .full-service-agency-columns {
    padding: 1rem;
  }

  .full-service-agency-statistics {
    width: 20rem;
  }

  .full-service-agency-statistics h5 {
    max-width: 20rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
    padding-bottom: 1rem;
  }

  .bold-text {
    font-size: 1.1rem;
    padding-top: 0rem;
  }

  .full-service-agency-globe {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .full-service-agency-bench {
    max-height: 25rem;
  }

  .full-service-agency-bench-image {
    background-position: center bottom;
    max-width: 42rem;
    max-height: 25rem;
    background-size: cover;
  }

  .full-service-agency-bench-subscribe {
    position: absolute;
    left: 13rem;
    box-sizing: border-box;
    max-width: 18.37rem;
    max-height: 10.37rem;
    padding-top: 2.53rem;
    padding-bottom: 2.43rem;
    padding-left: 0.12rem;
    padding-right: 0rem;
  }

  .full-service-agency-bench-subscribeBtn {
    max-width: 26.12rem;
    max-height: 2.62rem;
  }

  .full-service-agency-bench img,
  .bench-subscribeBtn img {
    width: 200%;
    height: auto;
    max-width: 200%;
  }

  /*  footer  */
  .email-submit-btn {
    width: 3.7rem;
  }

  .socialMedia img {
    padding-left: 1rem;
  }
}
