/*320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  box-sizing: border-box;
  font-family: Lato;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  background-color: #e5e5e5;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="-container"] {
  max-width: 1900px;
  margin: 0px auto;
  /* padding: 0px 15px; */
  background-color: #ffffff;
}

/*//////////////// full-service-agency section ////////////////////////*/

h3 {
  font-size: 2.44rem;
  font-weight: 700;
}

.colored-text {
  color: rgba(254, 200, 61, 1);
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1.25rem;
}

h5 {
  /* display: block; */
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 300;
}

.full-service-agency-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 118.75rem;
  /* height: 105.18rem; */
  /* padding: 162.5px 165px 58px 171px; */
  padding: 10.16rem 10.31rem 3.63rem 10.69rem;
  /* padding: 5.88% 8.68% 3.05% 9%; */
}

.full-service-agency-columns {
  display: flex;
  /* height: auto; */
  /* height: 48.25rem; */
  padding: 6.15rem 0.16rem 6.53rem 0.87rem;
  /* padding: 5.18% 0.21% 5.5% 0.74%; */
  /* padding: 98.5px 4px 104.5px 14px; */
}

.full-service-agency-statistics {
  display: flex;
  flex-direction: column;
  width: 48.25rem;
  /* height: 772px; */
}

.full-service-agency-statistics h5 {
  max-width: 40.18rem;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2.25rem;
  letter-spacing: 0.01rem;
}

.bold-text {
  font-size: 1.87rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  padding-top: 4.31rem;
}

.full-service-agency-statistics img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.full-service-agency-globe {
  width: 44.62rem;
}

.full-service-agency-globe img {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 1.71rem;
  padding-left: 6.81rem;
  border-radius: 3.68rem;
  filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.25));
}

.full-service-agency-bench {
  display: flex;
  position: relative;
  height: 27.62rem;
  background-color: rgba(239, 239, 241, 1);
  border-radius: 2.18rem;
}

.full-service-agency-bench-image {
  background-position: bottom left;
  background-image: url("images/fullServiceAgency-images/bench.jpg");
  background-repeat: no-repeat;
  box-shadow: 0rem 0.25rem 4rem rgba(0, 0, 0, 0.1);
  border-radius: 2.18rem;
  box-sizing: border-box;
  width: 97.75rem;
  height: 27.62rem;
}

.full-service-agency img,
.full-service-agency-bench img,
.full-service-agency-globe img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.full-service-agency-bench-subscribe {
  position: absolute;
  left: 45.31rem;
  /* top: 136.5px; */
  /* flex-direction: column; */
  box-sizing: border-box;
  max-width: 34.37rem;
  max-height: 26.37rem;
  padding-top: 8.53rem;
  padding-bottom: 8.43rem;
  padding-left: 3.12rem;
  padding-right: 3.25rem;
}

.full-service-agency-bench-subscribeBtn {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(249, 249, 249, 1);
  border-radius: 1.18rem;
  max-width: 28.12rem;
  max-height: 3.62rem;
  margin-top: 1.25rem;
}

.label {
  box-sizing: border-box;
  padding-left: 1.25rem;
  padding-top: 1.18rem;
}

.email-btn-input {
  box-sizing: border-box;
  font-size: 1.25rem;
  max-width: 11.43rem;
  background: none;
}

.bench-subscribeBtn {
  padding-right: 3.81rem;
}

.bench-subscribeBtn img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/*//////////////// Footer ////////////////////////*/

.logo-block img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.footer-subscribe {
  font-size: 1.25rem;
  padding-top: 8.8rem;
  font-weight: bold;
}

ul {
  color: rgba(200, 75, 4, 1);
}

.li-title {
  color: rgba(200, 75, 4, 1);
  font-weight: bold;
}

li {
  list-style: none;
  padding-bottom: 1.25rem;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.email-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 18rem;
  height: auto;
  padding-top: 1.87rem;
  border-bottom: 0.06rem solid rgb(207, 213, 220);
}

.email-submit-btn a img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.btn-socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.back-to-top-btn a img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.socialMedia {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 18.63rem;
}
.socialMedia img {
  padding-left: 2.5rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* flex: 0 1 25%; */
  height: 28.63%;
  /* padding: 60px 177px 120px 185px; */
  padding: 3.2% 9.3% 6.3% 9.7%;
  /* padding: 3.75rem 11.06rem 7.5rem 11.56rem; */
  /* gap: 13.31rem; */
  gap: 11%;
  /* gap: 123px; */
}

/*/////////// 320px PORTRAIT /////////////////////////*/
@media (max-width: 688px) and (orientation: portrait) {
  .title {
    font-size: 1.25rem;
    text-align: center;
  }

  .colored-text {
    color: rgba(254, 200, 61, 1);
  }

  .bold-text {
    font-size: 1.25rem;
    letter-spacing: 0.01rem;
    padding-top: 1rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }

  .full-service-agency-statistics h5 {
    padding-top: 1rem;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.25rem;
  }

  .full-service-agency-statistics {
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
    max-width: 75%;
  }

  .full-service-agency-statistics img {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 1rem;
  }

  .full-service-agency-globe {
    display: none;
  }

  .full-service-agency-container {
    display: flex;
    justify-content: center;
    padding: 0;
    /* height: 85rem; */
  }

  .full-service-agency-columns {
    justify-content: center;
    /* height: 48.25rem; */
    padding: 0.05% 0.05% 0.05% 0.05%;
  }

  .full-service-agency-bench {
    /* padding-top: 1rem; */
    height: 26rem;
  }

  .full-service-agency-bench-image {
    position: relative;
    width: 20rem;
    height: auto;
    background-position: bottom center;
    padding-top: 1rem;
  }

  .full-service-agency-bench-subscribe {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    max-width: 19.32rem;
    max-height: 14.82rem;
    padding: 0.5%;
  }

  .bench-subscribeBtn img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  /*//////////////////////////////////////////////////////////*/

  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 0.93% 2.77% 1.88% 2.89%;
    gap: 2.5%;
  }

  .services-block {
    display: flex;
    order: 1;
  }

  .about-block {
    display: flex;
    order: 2;
  }

  .logo-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 3;
  }

  .footer-logo {
    width: 50%;
    height: auto;
    max-width: 50%;
    order: 3;
    padding-top: 0.5rem;
  }

  .all-rights {
    order: 4;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }

  .footer-subscribe {
    order: 1;
    padding-top: 1rem;
    font-size: 1rem;
  }

  .email-btn {
    padding-top: 0.47rem;
    order: 2;
  }

  li {
    padding-bottom: 0.31rem;
  }

  .btn-socialMedia {
    display: flex;
    flex-direction: row-reverse;
    order: 9;
  }

  .socialMedia {
    padding-top: 1.5rem;
  }

  .socialMedia img {
    padding-left: 0.63rem;
  }
}

/*/////////// 320px LANDSCAPE /////////////////////////*/
@media (max-height: 688px) and (orientation: landscape) {
  .full-service-agency-statistics {
    justify-content: center;
    width: 75%;
    height: auto;
    max-width: 75%;
  }

  .full-service-agency-globe {
    display: none;
  }

  .full-service-agency-container {
    display: flex;
    justify-content: flex-start;
    padding: 0% 2% 0% 2%;
    /* height: 85rem; */
  }

  .full-service-agency-columns {
    justify-content: center;
    height: 48.25rem;
    padding: 3.8% 0.1% 4.1% 0.1%;
  }

  .full-service-agency-bench-image {
    position: relative;
    width: 48rem;
    height: auto;
    background-position: bottom center;
  }
  .full-service-agency-bench-subscribe {
    position: absolute;
    left: 23%;
    top: 5%;
    box-sizing: border-box;
    max-width: 25.77rem;
    max-height: 19.77rem;
    padding: 0.5%;
  }
  /*//////////////////////////////////////////////////////////*/
  .footer-container {
    padding: 0.93% 2.77% 1.88% 2.89%;
    gap: 2.5%;
  }

  .footer-logo {
    width: 70%;
    height: auto;
    max-width: 70%;
    padding-top: 0.5rem;
  }

  .all-rights {
    font-size: 0.8rem;
  }

  .footer-subscribe {
    padding-top: 1rem;
    font-size: 1rem;
  }

  .email-btn {
    padding-top: 0.47rem;
  }

  li {
    padding-bottom: 0.2rem;
  }

  .socialMedia {
    padding-top: 1.5rem;
  }

  .socialMedia img {
    padding-left: 0.63rem;
  }
}

/* Small screens */
@media (min-width: 767px) {
  .footer-container {
    padding: 2.56% 4.76% 5.04% 4.97%;
    gap: 9%;
  }

  .full-service-agency-container {
    padding: 5.88% 2.17% 3.05% 2.25%;
    justify-content: center;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  .colored-text {
    color: rgba(254, 200, 61, 1);
  }

  .bold-text {
    font-size: 1.87rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    padding-top: 2rem;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }

  h5 {
    /* display: block; */
    justify-content: center;
    font-size: 1rem;
    font-weight: 300;
  }

  .full-service-agency-statistics {
    justify-content: center;
    width: 75%;
    height: auto;
    max-width: 75%;
  }

  .full-service-agency-globe {
    display: none;
  }

  .full-service-agency-container {
    display: flex;
    justify-content: flex-center;
    padding: 0% 2% 0% 2%;
    height: 85rem;
  }

  .full-service-agency-columns {
    justify-content: center;
    height: 48.25rem;
    padding: 3.8% 0.1% 4.1% 0.1%;
  }

  .full-service-agency-bench-image {
    position: relative;
    width: 48rem;
    height: auto;
    background-position: bottom center;
  }
  .full-service-agency-bench-subscribe {
    position: absolute;
    left: 23%;
    top: 5%;
    box-sizing: border-box;
    max-width: 25.77rem;
    max-height: 19.77rem;
    padding: 0.5%;
  }

  .footer-container {
    padding: 2.56% 5.63% 5.04% 5.63%;
    gap: 10%;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .footer-container {
    padding: 2.56% 7.44% 5.04% 7.76%;
    gap: 11%;
  }
  .full-service-agency-container {
    padding: 5.88% 6.51% 3.05% 6.75%;
  }
}
