/*//////////////// What-we-offer section ////////////////////////*/

.what-we-offer-container h2 {
  padding-top: 3.96rem;
  text-align: center;
}

.what-we-offer-block {
  display: flex;
  justify-content: space-around;
}

#whatWeOffer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 98.43rem;
  /* max-width: 1575px; */
  padding-top: 7.78rem;
}

.whatWeOffer-block {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 47.68rem;
  height: 18.56rem;
  padding: 1.25rem 1.25rem 1.68rem;
  margin-bottom: 1.18rem;
  background: #ffffff;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  border-radius: 1.81rem;
}

.whatWeOffer-block-image {
  background-position: center;
  background-repeat: no-repeat;
  width: 22rem;
  height: 15.62rem;
  filter: drop-shadow(0rem 0.25rem 2.06rem rgba(108, 94, 57, 0.6));
  border-radius: 1.43rem;
  background-size: cover;
}

.whatWeOffer-block-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 21.43rem;
  height: 15.56rem;
}

h3 {
  font-size: 1.63rem;
  font-weight: 400;
  font-weight: 700;
  line-height: 2.37rem;
  letter-spacing: 0.01rem;
  text-align: left;
}

.green-text {
  color: rgba(0, 157, 157, 1);
}
p {
  font-weight: 300;
  line-height: 1.93rem;
  letter-spacing: 0.01rem;
  text-align: left;
}
.whatWeOffer-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 3.37rem;
  width: 14.75rem;
  left: 0rem;
  top: 12.18rem;
  border-radius: 0.62rem;
  padding: 0.5rem 0.5rem 0.5rem 1.75rem;
  background: #ebe9e9;
  border-radius: 0.62rem;
}
/* #loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: rgba(254, 200, 61, 1);
  transition: 0.3s;
}
#loadMore:hover {
  color: rgba(254, 200, 61, 1);
  background-color: #fff;
  border: 1px solid #000;
  text-decoration: none;
}
.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
} */
