.what-we-offer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1575px;
}

.whatWeOffer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 763px;
  height: 297px;
}

.whatWeOffer-block {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.whatWeOffer-block-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 352px;
  height: 250px;
  filter: drop-shadow(0px 4px 33px rgba(108, 94, 57, 0.6));
  border-radius: 23px;
}
.whatWeOffer-block-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 343px;
  height: 249px;
}

h3 {
  font-size: 1.63rem;
  font-weight: 400;
  font-weight: 700;
  line-height: 2.37rem;
  letter-spacing: 0.01rem;
  text-align: left;
}

.green-text {
  color: rgba(0, 157, 157, 1);
}
p {
  font-weight: 300;
  line-height: 1.93rem;
  letter-spacing: 0.01rem;
  text-align: left;
}
.whatWeOffer-btn {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 54px;
  width: 236px;
  left: 0px;
  top: 195px;
  border-radius: 10px;
  padding: 8px 8px 8px 28px;
  background: #ebe9e9;
  border-radius: 10px;
}
